.ui-icon { width: 12px; height: 12px;}
.ui-resizable { position: relative; }
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: ns-resize; height: 12px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: ns-resize; height: 12px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: ew-resize; width: 12px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: ew-resize; width: 12px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 12px; height: 12px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 12px; height: 12px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 12px; height: 12px; right: -5px; top: -5px;}
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }